* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    flex-wrap: wrap;
    cursor: none;
}

html {
    height: 100%;
}

body {
    background: darkslategray;
    background: linear-gradient(135deg, darkslategray 0%, darkslategray 100%);
    height: 100%;
    overflow: hidden;
}

main {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    grid-template-rows: repeat(12, 1fr);
    gap: 15px;
}

.navbar {
    background-color: black;
    height: 75px;
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: 75px;
    position: absolute;
    width: 100%;
    box-shadow: 0px 0px 50px 10px black;
}

.projectLink {
    color: white;
    border-left: 1px solid grey;
    display: flex;
    justify-content: center;
    align-content: center;
    height: 75px;
    box-sizing: border-box;
    font-size: 1.5rem;
    grid-area: 1/11/2/12;
    font-family: 'Space Mono', monospace;
    background: rgb(29, 29, 29);
    background: linear-gradient(135deg, rgba(29, 29, 29, 1) 0%, rgba(139, 139, 139, 1) 100%);

}

@keyframes colorChange {
    0% {
        background: rgb(29, 29, 29);
        background: linear-gradient(135deg, rgba(29, 29, 29, 1) 0%, rgba(139, 139, 139, 1) 100%);
    }

    12.5% {
        background: rgb(42, 42, 42);
        background: linear-gradient(135deg, rgba(42, 42, 42, 1) 0%, rgba(125, 125, 125, 1) 100%);
    }

    25% {
        background: rgb(56, 56, 56);
        background: linear-gradient(135deg, rgba(56, 56, 56, 1) 0%, rgba(112, 112, 112, 1) 100%);
    }

    37.5% {
        background: rgb(70, 70, 70);
        background: linear-gradient(135deg, rgba(70, 70, 70, 1) 0%, rgba(98, 98, 98, 1) 100%);
    }

    50% {
        background: rgb(84, 84, 84);
        background: linear-gradient(135deg, rgba(84, 84, 84, 1) 0%, rgba(84, 84, 84, 1) 100%);
    }

    62.5% {
        background: rgb(98, 98, 98);
        background: linear-gradient(135deg, rgba(98, 98, 98, 1) 0%, rgba(70, 70, 70, 1) 100%);
    }

    75% {
        background: rgb(112, 112, 112);
        background: linear-gradient(135deg, rgba(112, 112, 112, 1) 0%, rgba(56, 56, 56, 1) 100%);
    }

    87.5% {
        background: rgb(125, 125, 125);
        background: linear-gradient(135deg, rgba(125, 125, 125, 1) 0%, rgba(42, 42, 42, 1) 100%);
    }

    100% {
        background: rgb(139, 139, 139);
        background: linear-gradient(135deg, rgba(139, 139, 139, 1) 0%, rgba(29, 29, 29, 1) 100%);
    }
}

.projectLink:hover {
    animation: colorChange 0.1s linear;
    background: rgb(139, 139, 139);
    background: linear-gradient(135deg, rgba(139, 139, 139, 1) 0%, rgba(29, 29, 29, 1) 100%);
}

.homeImg {
    background-color: white;
    padding: 15px;
    height: 35px;
    border-radius: 100%;
    grid-area: 1/1/2/2;
    transition: all 0.2s ease;
}

.home {
    height: 75px;
    display: flex;
    align-content: center;
    padding-left: 5px;
}

.homeImg:hover:hover{
    height: 30px;
    background-color: rgb(184, 184, 184);
}

.lightball {
    width: 3px;
    height: 3px;
    box-shadow: 0px 0px 35px 10px white;
    position: absolute;
    background-color: white;
    pointer-events: none;
    border: 1px solid black;
    border-radius: 100px;
}

.welcome {
    font-family: 'Space Mono', monospace;
    font-size: 100px;
    color: whitesmoke;
    grid-area: 3/2/5/9;
    padding: 0px 20px 0px 20px;
    width: fit-content;
    border-radius: 20px;
    justify-content: center;
    display: flex;
    align-content: center;
    border: 1px solid rgb(39, 65, 65);
    box-shadow: 0px 0px 15px 1px black;
    transition: all 0.2s linear;
}

.welcome:hover {
    background-color: whitesmoke;
    color: black;
    box-shadow: 0px 0px 15px 1px rgb(114, 114, 114);
}

.card{
    border: 1px solid black;
    grid-area: 5/3/11/13;
    border-radius: 20px;
    padding: 20px;
    color: white;
    background: radial-gradient(circle, rgb(37, 37, 37) 0%, rgb(29, 29, 29) 25%, rgb(60, 60, 60) 50%, rgb(120, 120, 120) 75%, rgb(200, 200, 200) 100%);
    box-shadow: 0px 0px 15px 1px black;
    background-size: 1000% 1000%;
    backdrop-filter: blur(10px);
    filter: blur(5px);
    transition: filter 0.5s linear;
    transition: background-position 5s ease;
    /* animation: bg-move 60s infinite ease; */
}

.card:hover{
    filter: blur(0px);
}

/* @keyframes bg-move{
    0%{background-position: 0% 0%;}
    10%{background-position: 83% 17%;}
    20%{background-position: 80% 67%;}
    30%{background-position: 69% 78%;}
    40%{background-position: 35% 83% ;}
    50%{background-position: 6% 48%;}
    60%{background-position: 18% 76%;}
    70%{background-position: 18% 54%;}
    80%{background-position: 77% 35%;}
    90%{background-position: 75% 10%;}
    100%{background-position: 0% 0%;}
} */

.aboutMe{
    font-size: 60px;
}