*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    flex-wrap: wrap;
}

.navbar{
    background-color: black;
    height: 75px;
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: 75px;
    position: absolute;
}

.projectLink{
    color: white;
    border-left: 1px solid grey;
    display: flex;
    justify-content: center;
    align-content: center;
    height: 75px;
    box-sizing: border-box;
    font-size: 1.5rem;
    grid-area: 1/11/2/12;
}

.homeImg{
    background-color: white;
    padding: 15px;
    height: 35px;
    border-radius: 100%;
    grid-area: 1/1/2/2;
}

.home{
    height: 75px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.lightball{
    width: 1px;
    height: 1px;
    box-shadow: 0px 0px 30px 20px white;
    position: absolute;
    color:white;
    background-color: white;
    
}
